body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 40px;
    
}

header {
  text-align: center;
  margin-bottom: 40px;

}

.wallpaper {
  display: flex;
  align-items: flex-start;     
  gap: 15px;              
}

.wallpaper img {
  width: 12%;            
  height: auto;  
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);         
}

.wallpaper h2 {
  font-size: 28px;
  color: #3b0a67;
  margin: 0;
}

h1{
  text-align: center;
}

.input-container {
  text-align: center;
  margin-top: 30px;
}

.package-container {
  text-align: center;
  margin-top: 50px;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background: #fff;
}

.card {
  width: 250px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  border: 3px solid #f2e8ff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.card img {
  width: 120px;
  margin: 20px auto;
  display: block;
}

h2 {
  color: #3a165f;
  margin-bottom: 10px;
}

.badge {
  position: absolute;
  margin-top: -40px;
  margin-left: -22px;
  background: linear-gradient(45deg, #ff72ea, #7a5cff);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.card.best {
  border: 3px solid #ff72ea;
  background: linear-gradient(180deg, #fff, #fff5fc);
}
